vendor/
node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache/*.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
